<div [formGroup]="form">
    <div [ngSwitch]="control.controlType">

        <!-- Text Form Control -->
        <mat-form-field *ngSwitchCase="'text'">
            <input matInput
                   [placeholder]="control.title"
                   [formControlName]="control.key"
                   [id]="control.key"
                   [value]="control.value"
                   [type]="control.controlType">
        </mat-form-field>
        <!-- Text Form Control -->

        <!-- Select Form Control -->
        <mat-form-field *ngSwitchCase="'select'">
            <mat-select placeholder="{{control.title}}" [formControlName]="control.key">
                <mat-option *ngFor="let opt of control.options" [value]="opt.key">{{ opt.value }}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Select Form Control -->

        <!-- Checkbox Form Control -->
        <mat-checkbox *ngSwitchCase="'checkbox'" [formControlName]="control.key">{{control.title}}</mat-checkbox>
        <!-- Checkbox Form Control -->

    </div>
    <div class="errorMessage" *ngIf="!isValid">{{control.title}} is required</div>
</div>