<div [formGroup]="form">
    <div [ngSwitch]="control.controlType">

        <!-- Text Form Control -->
        <mat-input-container *ngSwitchCase="'text'">
            <input matInput
                   [placeholder]="control.title"
                   [formControlName]="control.key"
                   [id]="control.key"
                   [value]="control.value"
                   [type]="control.controlType">
        </mat-input-container>
        <!-- Text Form Control -->

        <!-- Select Form Control -->
        <mat-select *ngSwitchCase="'select'"
                   placeholder="{{control.title}}"
                   [formControlName]="control.key">
            <mat-option *ngFor="let opt of control.options" [value]="opt.key">{{ opt.value }}</mat-option>
        </mat-select>
        <!-- Select Form Control -->

        <!-- Checkbox Form Control -->
        <mat-checkbox *ngSwitchCase="'checkbox'" [formControlName]="control.key">{{control.title}}</mat-checkbox>
        <!-- Checkbox Form Control -->

    </div>
    <div class="errorMessage" *ngIf="!isValid">{{control.title}} is required</div>
</div>