<div [formGroup]="form">
    <div [ngSwitch]="control.controlType">

        <!-- Text Form Control -->
        <md-input *ngSwitchCase="'text'"
                  [formControlName]="control.key"
                  [id]="control.key"
                  [value]="control.value"
                  [type]="control.controlType">
            <md-placeholder>{{control.title}}</md-placeholder>
        </md-input>
        <!-- Text Form Control -->

        <!-- Select Form Control -->
        <md-select *ngSwitchCase="'select'"
                   placeholder="{{control.title}}"
                   [formControlName]="control.key">
            <md-option *ngFor="let opt of control.options" [value]="opt.key">{{ opt.value }}</md-option>
        </md-select>
        <!-- Select Form Control -->

        <!-- Checkbox Form Control -->
        <md-checkbox *ngSwitchCase="'checkbox'" [formControlName]="control.key">{{control.title}}</md-checkbox>
        <!-- Checkbox Form Control -->

    </div>
    <div class="errorMessage" *ngIf="!isValid">{{control.title}} is required</div>
</div>