<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <!-- Dynamically Created Form Controls -->
        <div *ngFor="let control of formControls" class="form-row">
            <df-control [control]="control" [form]="form"></df-control>
        </div>
        <!-- Dynamically Created Form Controls -->

        <div class="form-row">
            <button mat-raised-button type="submit" [disabled]="!form.valid">Save</button>
            <button mat-raised-button type="button" (click)="onClose()">Close</button>
        </div>
    </form>

</div>